node-red/dashboardapi_node-red.js
[{"id":"bf350612.4ffe88","type":"function","z":"fb24f1d7.34a1d","name":"HTTP Message","func":"msg.timestamp = msg.payload;\nmsg.headers = {\n    'x-cisco-meraki-api-key': '5b55ff30ef3ec4dda89f3de8a0108d5e6eb13b34',\n    'Content-Type': 'application/json'\n};\n//msg.url = 'https://dashboard.meraki.com/api/v0/devices/Q2PD-RZX8-V3M6/traffic?timespan=10000' //clients?timespan=86400'\nmsg.url = 'https://dashboard.meraki.com/api/v0/networks/N_646829496481140676/traffic?timespan=7200'\nmsg.payload = '';\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":80,"wires":[["c223f0fc.e19d1"]]},{"id":"8a8a5097.9e543","type":"inject","z":"fb24f1d7.34a1d","name":"","topic":"","payload":"","payloadType":"date","repeat":"720","crontab":"","once":false,"x":130,"y":80,"wires":[["bf350612.4ffe88","ab5c5b40.86dbf8"]]},{"id":"cde139f2.1c2da8","type":"debug","z":"fb24f1d7.34a1d","name":"","active":true,"console":"false","complete":"true","x":850,"y":40,"wires":[]},{"id":"c223f0fc.e19d1","type":"http request","z":"fb24f1d7.34a1d","name":"","method":"GET","ret":"obj","url":"","tls":"","x":550,"y":80,"wires":[["a880b524.836ee8"]]},{"id":"698b7cfb.ece954","type":"mongodb out","z":"fb24f1d7.34a1d","mongodb":"1391c224.fc5ffe","name":"","collection":"data","payonly":false,"upsert":false,"multi":false,"operation":"insert","x":890,"y":80,"wires":[]},{"id":"ab5c5b40.86dbf8","type":"debug","z":"fb24f1d7.34a1d","name":"","active":true,"console":"false","complete":"false","x":370,"y":40,"wires":[]},{"id":"a880b524.836ee8","type":"function","z":"fb24f1d7.34a1d","name":"For Each","func":"for (obj of msg.payload) {\n    node.send(obj);\n}\nreturn;","outputs":"1","noerr":0,"x":700,"y":80,"wires":[["698b7cfb.ece954","cde139f2.1c2da8"]]},{"id":"1391c224.fc5ffe","type":"mongodb","z":"","hostname":"ds044689.mlab.com","port":"44689","db":"meraki","name":"mongo sink"}]