node-red/locationapi_flows.js
[{"id":"af4d8c7.a36937","type":"debug","z":"28811f39.7ac25","name":"Data","active":true,"console":"false","complete":"payload","x":630,"y":140,"wires":[]},{"id":"6bf21917.7ecce8","type":"Meraki CMX","z":"28811f39.7ac25","name":"Cal Hackz - wireless","url":"/scanning","settings":"42082a7b.ae3c44","radioType":"BluetoothDevicesSeen","x":170,"y":140,"wires":[["af4d8c7.a36937","3bc37f22.a26dd","95d3bec0.01d6d"],["e99cb78f.bd50d8"]]},{"id":"c85f9d2f.afa97","type":"debug","z":"28811f39.7ac25","name":"Status: Data","active":true,"console":"false","complete":"true","x":610,"y":220,"wires":[]},{"id":"ce962f29.69d44","type":"split","z":"28811f39.7ac25","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":450,"y":540,"wires":[["560ac962.1dd568","76252df7.f0bd84"]]},{"id":"b51607ab.c91738","type":"function","z":"28811f39.7ac25","name":"Extract Observations","func":"// Flatten JSON\nmsg.type = msg.payload.type;\nmsg.apMac = msg.payload.data.apMac;\nmsg.apFloors = msg.payload.data.apFloors\nmsg.apTags = msg.payload.data.apTags;\nmsg.payload = msg.payload.data.observations;\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":500,"wires":[["ce962f29.69d44"]]},{"id":"560ac962.1dd568","type":"debug","z":"28811f39.7ac25","name":"Observation","active":true,"console":"false","complete":"true","x":610,"y":540,"wires":[]},{"id":"e99cb78f.bd50d8","type":"switch","z":"28811f39.7ac25","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"data","vt":"str"},{"t":"eq","v":"version","vt":"str"},{"t":"eq","v":"validator","vt":"str"},{"t":"eq","v":"secret","vt":"str"},{"t":"eq","v":"type","vt":"str"},{"t":"eq","v":"error","vt":"str"},{"t":"else"}],"checkall":"true","outputs":7,"x":410,"y":320,"wires":[["c85f9d2f.afa97"],["bbf700e1.27008"],["25cf6c20.017664"],["a9cdd62.c804228"],["2015278a.c7aa08"],["c83932a6.e3dcc"],["98cc65dd.186b58"]]},{"id":"25cf6c20.017664","type":"debug","z":"28811f39.7ac25","name":"Status: Validator","active":true,"console":"false","complete":"true","x":600,"y":300,"wires":[]},{"id":"a9cdd62.c804228","type":"debug","z":"28811f39.7ac25","name":"Status: Secret","active":true,"console":"false","complete":"true","x":600,"y":340,"wires":[]},{"id":"2015278a.c7aa08","type":"debug","z":"28811f39.7ac25","name":"Status: Type","active":true,"console":"false","complete":"true","x":610,"y":380,"wires":[]},{"id":"c83932a6.e3dcc","type":"debug","z":"28811f39.7ac25","name":"Status: Error","active":true,"console":"false","complete":"true","x":610,"y":420,"wires":[]},{"id":"98cc65dd.186b58","type":"debug","z":"28811f39.7ac25","name":"Status: Otherwise","active":true,"console":"false","complete":"true","x":590,"y":460,"wires":[]},{"id":"3bc37f22.a26dd","type":"link out","z":"28811f39.7ac25","name":"Meraki Scanning","links":["fec53858.828558"],"x":395,"y":180,"wires":[]},{"id":"fec53858.828558","type":"link in","z":"28811f39.7ac25","name":"Split Observations","links":["3bc37f22.a26dd"],"x":180,"y":500,"wires":[["b51607ab.c91738"]]},{"id":"4b2bf4f5.a2b03c","type":"comment","z":"28811f39.7ac25","name":"Workflow Examples","info":"","x":240,"y":460,"wires":[]},{"id":"bbf700e1.27008","type":"debug","z":"28811f39.7ac25","name":"Status: Version","active":true,"console":"false","complete":"true","x":600,"y":260,"wires":[]},{"id":"8a4eedaa.8f1cb","type":"comment","z":"28811f39.7ac25","name":"Meraki Scanning Node - README","info":"Update the Meraki node with your Meraki Network's\nvalidator and secret","x":530,"y":80,"wires":[]},{"id":"95d3bec0.01d6d","type":"function","z":"28811f39.7ac25","name":"For Each Observation","func":"for (obs of msg.payload.data.observations) {\n    obs.apFloors = msg.payload.data.apFloors;\n    obs.apTags = msg.payload.data.apTags;\n    obs.apMac = msg.payload.data.apMac;\n    node.send(obs);\n}\nreturn;","outputs":1,"noerr":0,"x":280,"y":40,"wires":[["c0625861.486f88"]]},{"id":"c0625861.486f88","type":"mongodb out","z":"28811f39.7ac25","mongodb":"105c3548.c5506b","name":"","collection":"locations","payonly":false,"upsert":false,"multi":false,"operation":"insert","x":440,"y":120,"wires":[]},{"id":"76252df7.f0bd84","type":"twitter out","z":"28811f39.7ac25","twitter":"","name":"Tweetjc","x":620,"y":600,"wires":[]},{"id":"e8a6128c.ca9f8","type":"mongodb out","z":"28811f39.7ac25","mongodb":"d5f47695.b3ed28","name":"","collection":"locations","payonly":false,"upsert":false,"multi":false,"operation":"insert","x":550,"y":160,"wires":[]},{"id":"42082a7b.ae3c44","type":"meraki-cmx-settings","z":"","name":"real"},{"id":"105c3548.c5506b","type":"mongodb","z":"","hostname":"ds044689.mlab.com","port":"44689","db":"meraki","name":"mongo sinkk"},{"id":"d5f47695.b3ed28","type":"mongodb","z":"","hostname":"ds113795.mlab.com","port":"13795","db":"meraki","name":"mongodb sink"}]